anyio==3.7.1
asgiref==3.7.2
click==8.1.7
dnspython==2.6.1
email-validator==2.1.0.post1
fastapi=>0.70.0
h11==0.14.0
idna==3.6
pydantic==1.10.14
PyJWT==1.7.1
pydantic
PyMySQL==1.1.0
python-decouple==3.3
sniffio==1.3.1
SQLAlchemy==2.0.27
sqlmodel==0.0.16
starlette==0.16.0
typing_extensions==4.10.0
uvicorn==0.15.0